@{
    ViewBag.Title = "忘記密碼確認";
}

@*ok*@
<div class="container " style="margin-top:200px">
    <div class=" center">
        <hgroup class="title align-items-center">
            <h1 class="text-lg-center">@ViewBag.Title</h1>
        </hgroup>
        <p class="text-lg-center">
            請檢查電子郵件以重設密碼。
        </p>
        <div class="text-lg-center">
            @Html.ActionLink("確定", "Index", "Home", routeValues: null, htmlAttributes: new { @class = " btn btn-primary   text-white justify-content-center" })
        </div>
    </div>
</div>

