@model IEnumerable<Test_Login.Models.stockPrice>

@{
    ViewBag.Title = ViewBag.id;
}
<script src="https://cdn.anychart.com/releases/v8/js/anychart-base.min.js"></script>
<script src="https://cdn.anychart.com/releases/v8/js/anychart-ui.min.js"></script>
<script src="https://cdn.anychart.com/releases/v8/js/anychart-exports.min.js"></script>
<script src="https://cdn.anychart.com/releases/v8/js/anychart-stock.min.js"></script>
<script src="https://cdn.anychart.com/releases/v8/js/anychart-data-adapter.min.js"></script>
<script src="https://cdn.anychart.com/csv-data/csco-daily.js"></script>
<link href="https://cdn.anychart.com/releases/v8/css/anychart-ui.min.css" type="text/css" rel="stylesheet">
<link href="https://cdn.anychart.com/releases/v8/fonts/css/anychart-font.min.css" type="text/css" rel="stylesheet">
<style type="text/css">
    #container, #container_kdj, #container_bands {
        height:800px;
        width:100%;
        margin: 0;
        padding: 0;
    }

    .anychart-credits-text, .anychart-credits-logo {
        display: none !important;
    }


</style>

<body>
    <h2>@ViewBag.id</h2>

    <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
            <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">基本資料</a>
        </li>
        <li class="nav-item" role="presentation">
            <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">KD/MACD</a>
        </li>
        <li class="nav-item" role="presentation">
            <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">通道</a>
        </li>
    </ul>
    <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
            <div id="container"></div>
        </div>
        <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
            <div id="container_kdj"></div>
        </div>
        <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
            <div id="container_bands"></div>
        </div>
    </div>
    <br /><hr /><br />
    <div class="row">
        <div class="table-responsive col-md-6">
            <div id="info">
                <a href="https://www.cmoney.tw/forum/stock/3704#price">股市同學會</a>
                <a href="https://statementdog.com/analysis/3704">財報狗</a>
                <a href="https://tw.stock.yahoo.com/quote/3704">YAHOO</a>
                <a href="https://histock.tw/stock/3704#price">HISTOCK</a>
                <a href="https://www.wantgoo.com/stock/3704?price">玩股網</a>
                <a href="https://pchome.megatime.com.tw/stock/sid3704.html?price">PCHOME</a>
            </div>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">名稱</th>
                        <th scope="col">資料</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>上市櫃</td>
                        <td>上櫃</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="table-responsive col-md-6">
            <h6>財報比率</h6>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">名稱</th>
                        <th scope="col">資料</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>上市櫃</td>
                        <td>上櫃</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    

</body>

<script type="text/javascript">
    var model = @Html.Raw(Json.Encode(Model));
    var stockData = [];
    for (let i = 0; i < model.length; i++) {
        var date = model[i].stockDate.substring(0, 4) + "-" + model[i].stockDate.substring(4, 6) + "-" + model[i].stockDate.substring(6, 8);
        stockData.push({
            x: new Date(date),
            o: Number(model[i].openPrice),
            h: Number(model[i].highPrice),
            l: Number(model[i].lowPrice),
            c: Number(model[i].endPrice),
            v: Number(model[i].numOfTrade)
        });
    }
    console.log(stockData)
    var stockDataKDJ = [];
    for (let i = 0; i < model.length; i++) {
        var date = model[i].stockDate.substring(0, 4) + "-" + model[i].stockDate.substring(4, 6) + "-" + model[i].stockDate.substring(6, 8);
        stockDataKDJ.push(
            [
            new Date(date),
            Number(model[i].openPrice),
            Number(model[i].highPrice),
            Number(model[i].lowPrice),
            Number(model[i].endPrice),
            Number(model[i].numOfTrade)
            ]
        );
    }

    anychart.onDocumentReady(function () {

        // set the data
        table = anychart.data.table('x');
        table.addData(stockData);

        // map the data for candlestick plot
        mapping = table.mapAs({ 'open': "o", 'high': "h", 'low': "l", 'close': "c" });

        // for SMA
        mapping_sma = table.mapAs({ 'x': "x", 'value': "l" });
        // for histogram
        mappping_volume = table.mapAs({ 'x': "x", 'value': "v" });

        // [chart] in
        var chart = anychart.stock();
        chart.padding(10, 10, 10, 50);


        // set the series for candlestick plot
        var series = chart.plot(0).candlestick(mapping).zIndex(10);
        series.name("@ViewBag.id");

        series.risingStroke("#C20000");
        series.risingFill("#C20000");
        series.fallingStroke("#00C200");
        series.fallingFill("#00C200");

        // set the series for SMA
        var sma5 = chart.plot(0).sma(mapping_sma, 5).series();
        sma5.stroke('#bf360c');

        var sma20 = chart.plot(0).sma(mapping_sma, 20).series();
        sma20.stroke('#ff6d00');

        var sma60 = chart.plot(0).sma(mapping_sma, 60).series();
        sma60.stroke('#00BDBD');

        // set the series for histogram

        var series_hist = chart.plot(0).column(mappping_volume);

        // set volume series settings
        series_hist.zIndex(100).maxHeight('20%').bottom(0);

        // create a logarithmic scale
        var customScale = anychart.scales.log();
        // sets y-scale
        series_hist.yScale(customScale);

        series_hist.name("成交量");
        series_hist.risingStroke("#C20000");
        series_hist.risingFill("#C20000");
        series_hist.fallingStroke("#00C200");
        series_hist.fallingFill("#00C200");

        // chart.title('@ViewBag.id');
        chart.container('container');

        chart.draw();
        // select the latest 20 points just like the last month data
        chart.selectRange('points', 20, true);
    });

    // set the data
    dataTable = anychart.data.table();
    dataTable.addData(stockDataKDJ);

    // mapping
    var mapping2 = dataTable.mapAs();
    //mapping2.addField("x", 0);
    mapping2.addField("open", 1, "first");
    mapping2.addField("high", 2, "max");
    mapping2.addField("low", 3, "min");
    mapping2.addField("close", 4, "last");
    mapping2.addField("value", 4, "close");
    mapping2.addField("volume", 5);
    // create stock chart
    var chart2 = anychart.stock();
    // create plots on the chart
    var plotKDJ = chart2.plot(0);

    // create first KDJ indicator of default series type
    var kdj_1 = plotKDJ.kdj(mapping2, 10, "EMA", 10, "SMA", 20);
    kdj_1.kSeries().stroke("#bf360c");
    kdj_1.dSeries().stroke("#02660c");
    kdj_1.jSeries().stroke("#0228b2");

    // create MACD plot
    var plotMACD = chart2.plot(1);

    macd_default = plotMACD.macd(mapping2, 12, 26, 9);

    macd_default.histogramSeries().normal().fill('red', 0.3).stroke('red');
    macd_default.histogramSeries().normal().negativeFill('green', 0.3).negativeStroke('green');

    // create PSY plot
    var plotPSY = chart2.plot(2);
    psy12 = plotPSY.psy(mapping2, 12).series();
    psy12.stroke("0.5 gray");
    psy12.fill("#ffd54f");

    psy24 = plotPSY.psy(mapping2, 26).series();
    psy24.stroke("0.5 lightGray");
    psy24.fill("#ff6d00");

    //// create OBV plot
    var plotOBV = chart2.plot(3);
    var obv = plotOBV.obv(mapping2);

    chart2.scroller().line(mapping2);

    chart2.selectRange('2022-01-01', '2022-03-01');

    // set container id for the chart
    chart2.container("container_kdj");
    // initiate chart drawing
    chart2.draw();

    // mapping3
    var mapping3 = dataTable.mapAs({
        'open': 1,
        'high': 2,
        'low': 3,
        'close': 4,
        'value': { column: 4, type: 'close' }
    });

    // bands
    var chart3 = anychart.stock();


    // Bollinger Bands
    plotBB = chart3.plot(0);
    var candle = plotBB.candlestick(mapping3);
    var bbands = plotBB.bbands(mapping3, 10, 3, "spline", "spline", "spline");

    // color the series
    bbands.upperSeries().stroke('#bf360c');
    bbands.middleSeries().stroke('#ff6600');
    bbands.lowerSeries().stroke('#bf360c');
    bbands.rangeSeries().fill('#ffd54f 0.2');

    // Keltner
    plotKC = chart3.plot(1);
    var candle2 = plotKC.candlestick(mapping3);
    var keltnerChannels = plotKC.keltnerChannels(mapping3);


    chart3.scroller().line(mapping3);
    chart3.selectRange('2022-01-01', '2022-03-01');
    chart3.container('container_bands');
    chart3.draw();


</script>