@model IEnumerable<Test_Login.Models.stockPrice>

@{
    ViewBag.Title = "Index";
}
<br />
<br />
<br />
<br />

<h2>Index</h2>


<form method="post" action="/stocks/Chart">
    <div class="d-inline-block ">
        <div>
        <input type="text" name="stockID" class="form-control mb-3" style="width:200px; "  placeholder="股票代號或名稱" onfocus="this.placeholder=' '" onblur="this.placeholder='股票代號或名稱'" />
        </div>
        <div>
        <button type="submit" class="btn btn-outline-info ">送出</button>
        </div>
    </div>
</form>
<br />
<br />

<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />

<br />
<br />




