@model IEnumerable<Test_Login.Models.stockPrice>

@{
    ViewBag.Title = "大盤走向";
}
<script src="https://code.jquery.com/jquery-3.6.0.slim.min.js"
        integrity="sha256-u7e5khyithlIdTpu22PHhENmPcRdFiHRjhAuHcs05RI="
        crossorigin="anonymous"></script>
<style type="text/css">
    .stockCustomize {
        text-align: center;
    }
    #stockInfo {
        text-align: center;
    }
</style>
<h2 class="justify-content-center">大盤走向</h2>


<form method="post" action="/stocks/StockMarketIndex">
    <div class="accordion" id="accordionExample">
        <div class="card">
            <div class="card-header" id="heading">
                <h2 class="mb-0">
                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapse" aria-expanded="false" aria-controls="collapse">
                        測試區
                    </button>
                </h2>
            </div>
            <div id="collapse" class="collapse" aria-labelledby="heading" data-parent="#accordionExample">
                <div class="card-body">
                    @*[form] in*@
                    <select id="tech1">
                        &nbsp
                        <option>k</option>
                        <option>d</option>
                        <option>j</option>
                        <option>macd快線</option>
                        <option>macd慢線</option>
                        <option>SMA(5)</option>
                        <option>SMA(20)</option>
                        <option>SMA(60)</option>
                        <option>EMA(5)</option>
                        <option>EMA(20)</option>
                        <option>EMA(60)</option>
                    </select>

                    <input id="btn1" type="checkbox" onchange="submit1()" /><input type="text" id="test1" />
                    <input id="btn2" type="checkbox" onchange="submit2()" /><input type="text" id="test2" />
                </div>
            </div>
        </div>
    </div>
    @*<input type="submit" />*@
</form>

<h1>
    @ViewBag.tech1
</h1>

<div class="container" id="stockDiv"></div>


<script>
    function submit1() {
        if ($('#btn1').is(':checked')) {
            console.log("123");
            var data = {
                test1: $('#test1').val()
            }
            $.ajax({
                async: "false",
                type: "post",
                url: "/stocks/StockResult",
                data: data,
                success: function (data) {
                    $("#stockDiv").html(data);
                }
            });
        } else {
            $('#testh1').text("");
        }
    }

    function submit2() {
        if ($('#btn2').is(':checked')) {
            var data = {
                test2: $('#test2').val()
            }
            $.ajax({
                async: "false",
                type: "post",
                url: "/stocks/StockMarketIndex",
                data: data
            }).then(function (e) {
                $('#result3').text(`${e.test2}`);
                $('#testh2').text(@ViewBag.test2);
            })
        } else {
            $('#result3').text("");
        }
    }
</script>