<script src="/Scripts/jquery-3.4.1.js"></script>
@{
    ViewBag.Title = "BackTesting001";
}
@{
    Layout = "~/Views/Shared/_LayoutRight.cshtml";
}
@*https://html-css-js.com/css/generator/box-shadow/*@
@*<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">*@
<link rel="stylesheet" href="~/Content/vendor.css">
<link rel="stylesheet" href="~/Content/style.css">
<style>
    #nav-tabContent {
        top: 10px;
        border-radius: 10px;
        box-shadow: 0 10px 34px -15px rgb(0 0 0 / 75%)
    }

    .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
        color: #495057;
        background-color: white;
        border-color: rgba(71,164,85,0.25);
        color: green;
    }

    .nav-tabs .nav-link {
        border: 5px solid transparent;
    }

    .nav-link {
        color: black
    }

    #submit1, #submit2 {
        width: 200px;
        height: 45px;
        margin-top: 20px
    }

    table {
        margin-left: auto;
        margin-right: auto;
    }

        table td {
            text-align: left
        }

    .search {
        position: relative;
        display: inline-block;
    }
</style>

<section class="section jarallax text-white" data-jarallax data-speed="0.5" style="padding-top:50px; padding-bottom:50PX;">
    <img class="section-background-image jarallax-img" src="~/img/pngtree-red-gold-stock.jpg" alt="background image" />
    <div class="section-background-color" style="background-color: rgba(0, 0, 0, 0.2)"></div>
    <div class="section-content container text-left  d-flex flex-column align-items-center">
        @*<span class="badge badge-pill badge-ghost fs-1 font-family-secondary text-uppercase font-weight-bold letter-spacing-caption">
                Easy 3 steps online booking
            </span>*@
        <h1 class=" justify-content-lg-center animated fadeInUp delay-0.5s" style="font-size:50px;">自訂回測系統</h1>
    </div>
</section>



<br />
<br />

<div class="container  text-center" style="width:800px">
    <div class=""></div>
    <div class="radio-buttons-group mb-7" onchange="displayControl()">
        <button class="btn btn-light selected" id="btn1" data-value="all">定期定額</button>
        <button class="btn btn-light" id="btn2" data-value="breakfast">定期定股</button>
    </div>

    @* 定期定額 *@
    <div class="tab-content animated bounceInUp delay- delay-1s"  id="nav-tabContent" style="background-color:antiquewhite; padding-top:15px; ">
        <div id="nav-backTest001" role="tabpanel" class="text-center ">
            <h2>定期定額</h2>
            <table class="">
                <tr>
                    <td>股票標的</td>
                    <td>
                        <input type="text" name="stockID" placeholder="輸入股票代碼" id="stockID1" class="form-control form-control-sm" />
                    </td>
                </tr>
                <tr>
                    <td>幾號投入</td>
                    <td>
                        <input type="text" name="day" placeholder="填入日期" id="day1" class="form-control form-control-sm" />
                    </td>
                </tr>
                <tr>
                    @*<td>固定投入多少錢</td>*@
                    <td>固定金額</td>
                    <td>
                        <input type="text" name="totalUnit" placeholder="填入金額" id="totalUnit1" class="form-control form-control-sm" />
                    </td>
                </tr>
            </table>
            <button class="btn btn-outline-info" type="button" id="submit1">送出</button>
            <br /><br /><br />
        </div>

        @* 定期定股 *@
        <div id="nav-backTest002" style="display:none">
            <h2>定期定股</h2>
            <table>
                <tr>
                    <td>股票標的</td>
                    <td>
                        <input type="text" name="stockID" placeholder="輸入股票代碼" id="stockID2" class="form-control form-control-sm" />
                    </td>
                </tr>
                <tr>
                    <td>幾號投入</td>
                    <td>
                        <input type="text" name="day" placeholder="填入日期" id="day2" class="form-control form-control-sm" />
                    </td>
                </tr>
                <tr>
                    @*<td>固定買幾股</td>*@
                    <td>固定股數</td>
                    <td>
                        <input type="text" name="totalUnit" placeholder="填入數量" id="totalUnit2" class="form-control form-control-sm" />
                    </td>
                </tr>
            </table>
            <button class="btn btn-outline-info" type="button" id="submit2">送出</button>
            <br /><br /><br />
        </div>
    </div>

    <div id="result" class="modal fade" role="dialog">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title">計算結果</h3>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <table id="resultTable">
                        <tr>
                            <td>投資標的&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</td>
                            <td id="result_1">股票代號 名稱</td>
                        </tr>
                        <tr>
                            <td id="result_2">每月x號固定投入/每月x號固定買進x2</td>
                            <td id="result_3">y新台幣/y2股</td>
                        </tr>
                        <tr>
                            <td>總付出成本</td>
                            <td id="result_4">總成本</td>
                        </tr>
                        <tr>
                            <td>當前市值</td>
                            <td id="result_5">市值</td>
                        </tr>
                        <tr>
                            <td>未實現損益</td>
                            <td id="result_6">未實現損益</td>
                        </tr>
                        <tr>
                            <td>預估報酬率</td>
                            <td id="result_7">百分比%</td>
                        </tr>
                    </table>
                </div>
                <div class="modal-footer">
                    <a id="stockLink" href="/stocks/Chart/"><span class="myTag btn btn-outline-dark">前往個股</span></a>
                    <button class="btn btn-primary" data-dismiss="modal">確定</button>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    function displayControl() {
        if ($('#btn1').attr('class').includes("selected")) {
            //console.log("BTN1 selected")
            $("#nav-backTest001").css("display", "block")
            $("#nav-backTest002").css("display", "none")
        }
        if ($('#btn2').attr('class').includes("selected")) {
            //console.log("BTN2 selected")
            $("#nav-backTest001").css("display", "none")
            $("#nav-backTest002").css("display", "block")
        }
    }
    $('#submit2').click(function () {
        //console.log('定期定股')
        var data = {
            stockID: $('#stockID2').val(),
            day: $('#day2').val(),
            totalUnit: $('#totalUnit2').val()
        }
        $.ajax({
            async: "false",
            type: "post",
            url: "/BackTesting/BackTestingRes001",
            data: data
        }).then(function (e) {
            $('#result_1').text(`${e.stockID}${e.stockName}`);
            $('#result_2').text(`每月${e.day}號固定買進`);
            $('#result_3').text(`${e.count}股`);
            $('#result_4').text(`${e.total_cost}`);
            $('#result_5').text(`${e.nowTotalVal}`);
            $('#result_6').text(`${e.profit_and_loss}`);
            $('#result_7').text(`${e.percentage}%`);
            $("#result").css("display", "block");
            $('#result').modal({ backdrop: "static" })
            $('#stockLink').attr('href', `/stocks/Chart/${$('#stockID2').val()}`)
        })

    })
    $('#submit1').click(function () {
        var res1; var res2; var res3; var res4; var res5; var res6; var res7; var res8;
        var data = {
            stockID: $('#stockID1').val(),
            day: $('#day1').val(),
            totalUnit: $('#totalUnit1').val()
        }

        var result = $.ajax({
            async: "false",
            type: "post",
            url: "/BackTesting/BackTestingRes002",
            data: data
        }).then(function (e) {
            $('#result_1').text(`${e.stockID}${e.stockName}`);
            $('#result_2').text(`每月${e.day}號投入`);
            $('#result_3').text(`${e.count}新台幣`);
            $('#result_4').text(`${e.total_cost}`);
            $('#result_5').text(`${e.nowTotalVal}`);
            $('#result_6').text(`${e.profit_and_loss}`);
            $('#result_7').text(`${e.percentage}%`);
            $("#result").css("display", "block");
            $('#result').modal({ backdrop: "static" })
            $('#stockLink').attr('href', `/stocks/Chart/${$('#stockID1').val()}`)
        })
    })
    function stock() { }
</script>