@{
    ViewBag.Title = "About";
}
@*<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css">*@



<h2 class="">@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Use this area to provide additional VVVVV.</p>
<div class="wow bounce">Example</div>

<h1 class="animated  bounce delay-1s ">Example</h1>
<h1 class="animated  fadeInDown delay-0.9s ">Example2</h1>
<h1 class="animated  fadeInDown delay-1s ">Example3</h1>


@*---------------*@

<div class="btn-group">
    <!-- please note that data-target and data-toggle attributes are required -->
    <div class="radio-buttons-group" data-toggle="shuffle-grid" data-target="#projects-grid">
        <button class="btn btn-light selected" data-value="all">All</button>
        <button class="btn btn-light" data-value="buy">多方策略</button>
        <button class="btn btn-light" data-value="sell">空方策略</button>
    </div>
</div>
@*---------------------*@

<div class="shuffle-grid shuffle-grid-gap-14 shuffle-grid-cols-1 shuffle-grid-cols-md-2 shuffle-grid-cols-xl-4" id="projects-grid">
   
</div>


<section class="section bg-secondary" id="services">
    <div class="section-content container">
        <div class="d-flex justify-content-center justify-content-md-between align-items-end">
            <div class="text-center text-md-left">
                <small class="fs-1 font-family-secondary text-uppercase font-weight-bold letter-spacing-caption text-muted">
                    What we do the best
                </small>
                <h1>Services</h1>
            </div>
            <div class="d-none d-md-block">
                <div class="btn-group">
                    <div class="radio-buttons-group border-0" data-toggle="shuffle-grid" data-target="#services-grid">
                        <button class="btn btn-light selected" data-value="all">All</button>
                        <button class="btn btn-light" data-value="construction">Construction</button>
                        <button class="btn btn-light" data-value="design">Design</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="shuffle-grid shuffle-grid-gap-14 shuffle-grid-cols-1 shuffle-grid-cols-lg-2 mt-14" id="services-grid">
            <div class="shuffle-grid-item" data-groups="design">
                <div class="card border-0">
                    <div class="row no-gutters">
                        <div class="col-sm-4 position-relative">
                            <img src="assets/images/image-18.jpg" class="img-overlay" alt="photo">
                        </div>
                        <div class="col-sm-8">
                            <div class="card-body py-11 px-14">
                                <h2 class="fs-5 fs-md-6 fs-lg-7">Kitchen Remodeling</h2>
                                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="shuffle-grid-item" data-groups="design">
                <div class="card border-0">
                    <div class="row no-gutters">
                        <div class="col-sm-4 position-relative">
                            <img src="assets/images/image-19.jpg" class="img-overlay" alt="photo">
                        </div>
                        <div class="col-sm-8">
                            <div class="card-body py-11 px-14">
                                <h2 class="fs-5 fs-md-6 fs-lg-7">Bathroom Remodeling</h2>
                                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="shuffle-grid-item" data-groups="design">
                <div class="card border-0">
                    <div class="row no-gutters">
                        <div class="col-sm-4 position-relative">
                            <img src="assets/images/image-20.jpg" class="img-overlay" alt="photo">
                        </div>
                        <div class="col-sm-8">
                            <div class="card-body py-11 px-14">
                                <h2 class="fs-5 fs-md-6 fs-lg-7">Flooring</h2>
                                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="shuffle-grid-item" data-groups="construction,design">
                <div class="card border-0">
                    <div class="row no-gutters">
                        <div class="col-sm-4 position-relative">
                            <img src="assets/images/image-21.jpg" class="img-overlay" alt="photo">
                        </div>
                        <div class="col-sm-8">
                            <div class="card-body py-11 px-14">
                                <h2 class="fs-5 fs-md-6 fs-lg-7">Roofing</h2>
                                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="shuffle-grid-item" data-groups="construction">
                <div class="card border-0">
                    <div class="row no-gutters">
                        <div class="col-sm-4 position-relative">
                            <img src="assets/images/image-22.jpg" class="img-overlay" alt="photo">
                        </div>
                        <div class="col-sm-8">
                            <div class="card-body py-11 px-14">
                                <h2 class="fs-5 fs-md-6 fs-lg-7">Windows & Doors</h2>
                                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="shuffle-grid-item" data-groups="construction">
                <div class="card border-0">
                    <div class="row no-gutters">
                        <button class="btn btn-outline-danger  strategyDiv" value="成交爆大量" name="str" data-toggle="smooth-scroll" data-target="#selectReasult">
                            <h3><b>成交爆大量</b></h3>
                            <span class="buttonText">成交量大於5日均量</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="mt-19 mt-lg-20 text-center">
            <a href="#" class="btn btn-lg btn-primary">Get a free estimate</a>
        </div>
    </div>
</section>
@*<a href="#" data-toggle="smooth-scroll" data-target="#page-start-anchor">*@






<div>
    <div class="positiveStrategy">

        <button class="btn btn-outline-danger  strategyDiv" value="成交爆大量" name="str" data-toggle="smooth-scroll" data-target="#selectReasult">
            <h3><b>成交爆大量</b></h3>
            <span class="buttonText">成交量大於5日均量</span>
        </button>
        @*<a href="#" data-toggle="smooth-scroll" data-target="#page-start-anchor">*@



        <button class="btn btn-outline-danger  strategyDiv" value="四海遊龍" name="str" @*data-toggle="smooth-scroll" data-target="#selectReasult"*@>
            <h3><b>四海遊龍</b></h3>
            <span class="buttonText">四海遊龍 skr skr</span>
        </button>

        <button class="btn btn-outline-danger  strategyDiv" value="外資連買" name="str">
            <h3><b>外資連買</b></h3>
            <span class="buttonText">外資連續五日買超五百張(含)以上</span>
        </button>

        <button class="btn btn-outline-danger  strategyDiv" value="投信連買" name="str">
            <h3><b>投信連買</b></h3>
            <span class="buttonText">投信連續五日賣超五百張(含)以上</span>
        </button>

        <button class="btn btn-outline-danger  strategyDiv" value="外資投信同買" name="str">
            <h3><b>外資投信同買</b></h3>
            <span class="buttonText">前一日外資投信同買而且漲幅>2%</span>
        </button>


        <div class="negativeStrategy">
            <div class="alert alert-primary">
                <h3>挖掘空方股票</h3>
            </div>

            <button class="btn btn-outline-primary  strategyDiv" value="弱勢股票" name="str">
                <h3><b>弱勢股票</b></h3>
                <span class="buttonText">止跌部漲 嫩</span>
            </button>

            <button class="btn btn-outline-primary  strategyDiv" value="外資連賣" name="str">
                <h3><b>外資連賣</b></h3>
                <span class="buttonText">外資連續五日賣超一千張(含)以上</span>
            </button>

            <button class="btn btn-outline-primary  strategyDiv" value="投信連賣" name="str" data-toggle="smooth-scroll" data-target="#selectReasult">
                <h3><b>投信連賣</b></h3>
                <span class="buttonText">投信連續五日賣超五百張(含)以上</span>
            </button>

            <button class="btn btn-outline-primary  strategyDiv" value="外資投信同賣" name="str">
                <h3><b>外資投信同賣</b></h3>
                <span class="buttonText">前一日外資投信同賣而且跌幅>2%</span>
            </button>
        </div>
    </div>
</div>





<script>
    new WOW().init();

</script>
