<!-- main hero start -->
<section class="hero hero-fullscreen jarallax" data-speed="0.2" style="min-height: calc(100vh - 140px)">
    <div class="hero-background">
        <img src="~/img/haveMoney.jpg" alt="hero background" class="jarallax-img" style="width:150px;" />
    </div>
    <div class="hero-foreground d-flex flex-column justify-content-center">
        <div class="d-flex align-items-center justify-content-center py-14 py-md-23 py-lg-25">
            <div class="card border-0 text-center mx-15 mx-lg-0 bg-white-90" style="max-width: 770px">
                <div class="card-body text-body p-10 p-lg-22">
                    <h2 class="text-black fs-6 fs-md-9 fs-lg-11 lh-lg-12 mb-10">GET STARTTTTTTT</h2>
                    <p class="fs-4 fs-md-5 mb-10 mx-auto" style="max-width: 530px">
                        挖掘股票
                    </p>
                    <a href="#" class="btn btn-lg btn-primary" target="_blank" style="font-size:20px;">開始發掘</a>
                </div>
            </div>
        </div>
    </div>
</section>

@*下方介紹*@
<section class="section pt-21 pb-10 pb-md-9 pb-lg-4">
    <div class="section-content container">
        <div class="text-center mb-18 mb-md-19 mb-lg-20">
            <h1 class="mt-5 mt-md-0 fs-6 fs-md-9 fs-lg-10">
                Gold Digger的特色
            </h1>
        </div>

        <div class="row">
            <articlecl class="col-12 col-sm-6 col-lg-4 mb-md-19 mb-lg-20">
                <div class="card">
                    <div class="card-body">
                        <i class="material-icons  m-13 mt-9 mb-0 fs-5 fs-md-6 fs-lg-7 text-black">trending_up 快速</i>
                    </div>

                </div>
            </articlecl>
            <articlecl class="col-12 col-sm-6 col-lg-4 mb-md-19 mb-lg-20">
                <div class="card">
                    <div class="card-body">
                        <i class="material-icons  m-13 mt-9 mb-0 fs-5 fs-md-6 fs-lg-7 text-black">done 方便</i>
                    </div>

                </div>
            </articlecl>
            <articlecl class="col-12 col-sm-6 col-lg-4 mb-md-19 mb-lg-20">
                <div class="card">
                    <div class="card-body">
                        <i class="material-icons  m-13 mt-9 mb-0 fs-5 fs-md-6 fs-lg-7 text-black">thumb_up 簡單操作</i>
                    </div>

                </div>
            </articlecl>
        </div>
    </div>

</section>
<!-- main hero end -->