<!-- main hero start -->

<style>
    .cards-hover:hover {
        box-shadow: 0 5px 15px rgba(0,0,0,0.3);
        transform:scale(1.1);
         transition:0.5s;
    }

    .cards-hover {
        box-shadow: 0 1px 2px rgba(0,0,0,0.15);
        transition: 0.5s;
    }

</style>


<section class="hero hero-fullscreen jarallax" data-speed="0.2" style="min-height: calc(100vh - 140px)">
    <div class="hero-background">
        <img src="~/img/backgroundImage-3.png" alt="hero background" class="jarallax-img" style="width:150px;" />
    </div>
    <div class="hero-foreground d-flex flex-column justify-content-center">
        <div class="d-flex align-items-center justify-content-center py-14 py-md-23 py-lg-25">
            <div class="card border-0 text-center mx-15 mx-lg-0 bg-white-90" style="width: 1000px">
                <div class="card-body text-body p-10 p-lg-22">
                    <h2 class="text-black fs-6 fs-md-9 fs-lg-11 lh-lg-12 mb-10">GET START</h2>
                    <p class="fs-4 fs-md-5 mb-10 mx-auto" style="max-width: 530px">
                        挖掘股票
                    </p>
                    <a href="#" class="btn btn-lg btn-warning" target="_blank" style="font-size:20px;">開始發掘</a>
                </div>
            </div>
        </div>
    </div>
</section>

@*下方介紹*@
<section class="section pt-21 pb-10 pb-md-9 pb-lg-4">
    <div class="section-content container">
        <div class="text-center mb-18 mb-md-19 mb-lg-20">
            <h1 class="mt-5 mt-md-0 fs-6 fs-md-9 fs-lg-10">
                Gold Rush的特色
            </h1>
        </div>
      



        <div class="row">
            <articlecl class="col-12 col-sm-6 col-lg-4 mb-md-19 mb-lg-20 ">
                <div class="card cards-hover " style="box-shadow: 3px 3px 3px -1px rgb(0 0 0 / 21%);">
                    <div class="card-body d-flex flex-column p-19 p-md-20">
                        <i class="material-icons  m-13 mt-9 mb-0 fs-5 fs-md-6 fs-lg-7 text-black">trending_up 快速</i>
                        <p class="mb-10">每一次的挖掘僅用1~2秒，就會將結果呈現給出來，大量地減少浪費您的寶貴時間。</p>
                    </div>
                </div>
            </articlecl>
            <articlecl class="col-12 col-sm-6 col-lg-4 mb-md-19 mb-lg-20">
                <div class="card cards-hover" style="box-shadow: 3px 3px 3px -1px rgb(0 0 0 / 21%) ">
                    <div class="card-body d-flex flex-column p-19 p-md-20">
                        <i class="material-icons  m-13 mt-9 mb-0 fs-5 fs-md-6 fs-lg-7 text-black">done 彈性的組合</i>
                        <p class="mb-10">基本面、技術面、籌碼面都可以非常有彈性的混合使用，用最嚴苛的條件找到淺力股票。</p>

                    </div>

                </div>
            </articlecl>
            <articlecl class="col-12 col-sm-6 col-lg-4 mb-md-19 mb-lg-20">
                <div class="card cards-hover" style="box-shadow: 3px 3px 3px -1px rgb(0 0 0 / 21%) ">
                    <div class="card-body d-flex flex-column p-19 p-md-20">
                        <i class="material-icons  m-13 mt-9 mb-0 fs-5 fs-md-6 fs-lg-7 text-black">thumb_up 簡單操作</i>
                        <p class="mb-10">所有投資規則都是利用簡單的文字來設定，一方面減低學習的曲線，並能簡單發現的好公司。</p>
                    </div>
                </div>
            </articlecl>


            <articlecl class="col-12 col-sm-6 col-lg-4 mb-md-19 mb-lg-20">
                <div class="card cards-hover" style="box-shadow: 3px 3px 3px -1px rgb(0 0 0 / 21%) ">
                    <div class="card-body d-flex flex-column p-19 p-md-20">
                        <i class="material-icons  m-13 mt-9 mb-0 fs-5 fs-md-6 fs-lg-7 text-black">rotate_left 回測系統</i>
                        <p class="mb-10">根據自己的需求設定期定額回測，檢視自己的策略。</p>
                    </div>
                </div>
            </articlecl>

            <articlecl class="col-12 col-sm-6 col-lg-4 mb-md-19 mb-lg-20">
                <div class="card cards-hover" style="box-shadow: 3px 3px 3px -1px rgb(0 0 0 / 21%) ">
                    <div class="card-body d-flex flex-column p-19 p-md-20">
                        <i class="material-icons  m-13 mt-9 mb-0 fs-5 fs-md-6 fs-lg-7 text-black">group 討論區</i>
                        <p class="mb-10">登入帳號後可以和其他投資同好互相討論彼此的策略，互相切磋。</p>
                    </div>
                </div>
            </articlecl>
            <articlecl class="col-12 col-sm-6 col-lg-4 mb-md-19 mb-lg-20">
                <div class="card cards-hover" style="box-shadow: 3px 3px 3px -1px rgb(0 0 0 / 21%) ">
                    <div class="card-body d-flex flex-column p-19 p-md-20">
                        <i class="material-icons  m-13 mt-9 mb-0 fs-5 fs-md-6 fs-lg-7 text-black">pie_chart 主力籌碼表</i>
                        <p class="mb-10">隨時可以了解最近主力、大戶、外資、投信、自營商籌碼的變化。</p>
                    </div>
                </div>
            </articlecl>










        </div>
    </div>

    <section class="section jarallax text-white" data-jarallax data-speed="0.5" style="padding-top:50px;">
        <img class="section-background-image jarallax-img" src="~/img/pngtree-red-gold-stock.jpg" alt="background image" />
        <div class="section-background-color" style="background-color: rgba(0, 0, 0, 0.2)"></div>
        <div class="section-content container text-left  d-flex flex-column align-items-center">
            @*<span class="badge badge-pill badge-ghost fs-1 font-family-secondary text-uppercase font-weight-bold letter-spacing-caption">
                    Easy 3 steps online booking
                </span>*@
            <h1 class="mt-5 mb-10 fs-10 fs-md-10">投資心法</h1>
            <h6 class="mt-5 mb-15 fs-5 fs-md-7">1.價廉物美：投資成功的關鍵在於，當市場價格大大低於經營企業的價值時，買入優秀企業的股票。</h6>
            <h6 class="mt-5 mb-15 fs-5 fs-md-7 ">2.不犯大錯：對大多數從事投資的人來講，重要的不是知道多少，而是怎么正確地對待自己不明白的東西。只要投資者避免犯錯誤，他/她沒必要做太多事情。</h6>

            <h6 class="mt-5 mb-15 fs-5 fs-md-7">3.安全邊際：架設橋樑時，你堅持載重量為3萬磅，但你只准許1萬磅的卡車穿梭其間。相同的原則也適用於投資領域。</h6>
            <h5>--沃倫 巴菲特</h5>
        </div>
    </section>


</section>
<!-- main hero end -->